[package]
name = "concread"
version = "0.3.2"
authors = ["William Brown <william@blackhats.net.au>"]
edition = "2021"
description = "Concurrently Readable Data-Structures for Rust"
documentation = "https://docs.rs/concread/latest/concread/"
homepage = "https://github.com/kanidm/concread/"
repostiory = "https://github.com/kanidm/concread/"
readme = "README.md"
keywords = ["concurrency", "lru", "arc", "hashmap", "btree"]
categories = ["data-structures", "memory-management", "caching", "concurrency"]
license = "MPL-2.0"

[lib]
name = "concread"
path = "src/lib.rs"

[features]
# simd_support = ["core_simd"]
skinny = []
hashtrie_chonk = []
asynch = ["tokio"]
default = ["asynch"]

[dependencies]
crossbeam-epoch = "0.9"
crossbeam-utils = "0.8"
crossbeam = "0.8"
smallvec = "1.4"
ahash = "0.7"
rand = "0.8"

tokio = { version = "1", features = ["sync", "rt", "macros"], optional = true }
lru = "0.7"

# core_simd = { git = "https://github.com/rust-lang/portable-simd", optional = true }

[dev-dependencies]
time = "0.3"
criterion = { version = "0.3", features = ["html_reports"] }
function_name = "0.2"
uuid = "0.8"

[[bench]]
name = "hashmap_benchmark"
harness = false

[[bench]]
name = "arccache"
harness = false


