[package]
name = "concread"
version = "0.3.4"
authors = ["William Brown <william@blackhats.net.au>"]
edition = "2021"
description = "Concurrently Readable Data-Structures for Rust"
documentation = "https://docs.rs/concread/latest/concread/"
homepage = "https://github.com/kanidm/concread/"
repostiory = "https://github.com/kanidm/concread/"
readme = "README.md"
keywords = ["concurrency", "lru", "arc", "hashmap", "hashtrie", "btree", "stm", "software-transactional-memory", "copy-on-write", "mvcc", "cow"]
categories = ["data-structures", "memory-management", "caching", "concurrency"]
license = "MPL-2.0"

[lib]
name = "concread"
path = "src/lib.rs"

[features]
# Features to add/remove contents.
asynch = ["tokio"]
ebr = ["crossbeam-epoch"]
maps = ["crossbeam", "smallvec"]
arcache = ["maps", "lru"]
# ahash is another feature here

# Internal features for tweaking some alighn/perf behaviours.
# simd_support = ["core_simd"]
skinny = []
hashtrie_chonk = []

default = ["asynch", "ahash", "ebr", "maps", "arcache"]

[dependencies]
crossbeam-epoch = { version = "0.9", optional = true }
crossbeam = { version = "0.8", optional = true }
smallvec = { version = "1.4", optional = true }
ahash = { version = "0.7", optional = true }

tokio = { version = "1", features = ["sync", "rt", "macros"], optional = true }
lru = { version = "0.7", optional = true }

# core_simd = { git = "https://github.com/rust-lang/portable-simd", optional = true }

[dev-dependencies]
time = "0.3"
criterion = { version = "0.3", features = ["html_reports"] }
function_name = "0.2"
uuid = "0.8"
crossbeam-utils = "0.8"
rand = "0.8"

[[bench]]
name = "hashmap_benchmark"
harness = false

[[bench]]
name = "arccache"
harness = false


