[package]
name = "concread"
version = "0.2.17"
authors = ["William Brown <william@blackhats.net.au>"]
edition = "2018"
description = "Concurrently Readable Data-Structures for Rust"
documentation = "https://docs.rs/concread/latest/concread/"
homepage = "https://github.com/kanidm/concread/"
repostiory = "https://github.com/kanidm/concread/"
readme = "README.md"
keywords = ["concurrency", "lru", "arc", "hashmap", "btree"]
categories = ["data-structures", "memory-management", "caching", "concurrency"]
license = "MPL-2.0"

[features]
simd_support = ["packed_simd"]
skinny = []
unsoundness = []
asynch = ["tokio"]
default = ["asynch"]

[dependencies]
crossbeam-epoch = "0.9"
crossbeam-utils = "0.8"
crossbeam = "0.8"
parking_lot = "0.11"
smallvec = "1.4"
ahash = "0.7"
rand = "0.8"
packed_simd = { version = "0.3", optional = true, package = "packed_simd_2" }

tokio = { version = "1", features = ["sync", "rt", "macros"], optional = true }

[dev-dependencies]
time = "0.2"
criterion = "0.3"

[[bin]]
name = "unsound"
path = "src/unsound.rs"

[[bin]]
name = "unsound2"
path = "src/unsound2.rs"

[[bin]]
name = "unsound3"
path = "src/unsound3.rs"

[[bench]]
name = "hashmap_benchmark"
harness = false
