[package]
name = "concread"
version = "0.3.7"
authors = ["William Brown <william@blackhats.net.au>"]
edition = "2021"
description = "Concurrently Readable Data-Structures for Rust"
documentation = "https://docs.rs/concread/latest/concread/"
homepage = "https://github.com/kanidm/concread/"
repository = "https://github.com/kanidm/concread/"
readme = "README.md"
keywords = ["concurrency", "lru", "mvcc", "copy-on-write", "transactional-memory"]
categories = ["data-structures", "memory-management", "caching", "concurrency"]
license = "MPL-2.0"

[lib]
name = "concread"
path = "src/lib.rs"

[features]
# Features to add/remove contents.
asynch = ["tokio"]
ebr = ["crossbeam-epoch"]
maps = ["crossbeam", "smallvec"]
arcache = ["maps", "lru"]
# ahash is another feature here

# Internal features for tweaking some alighn/perf behaviours.
# simd_support = ["core_simd"]
skinny = []
hashtrie_chonk = []

default = ["asynch", "ahash", "ebr", "maps", "arcache", "hashtrie_chonk"]

[dependencies]
ahash = { version = "0.7", optional = true }
crossbeam = { version = "0.8", optional = true }
crossbeam-epoch = { version = "0.9", optional = true }
lru = { version = "0.7", optional = true }
smallvec = { version = "1.4", optional = true }
sptr = "0.3"
tokio = { version = "1", features = ["sync", "rt", "macros"], optional = true }
tracing = "0.1"

[dev-dependencies]
criterion = { version = "0.3", features = ["html_reports"] }
crossbeam-utils = "0.8"
rand = "0.8"
time = "0.3"
tracing-subscriber = { version = "0.3", features = ["env-filter", "std", "fmt"] }
uuid = "1.0"
function_name = "0.3"

[[bench]]
name = "hashmap_benchmark"
harness = false

[[bench]]
name = "arccache"
harness = false


